html, body, div, h1, h2,
h3, h4, h5, h6, ul, ol, dl,
li, dt, dd, p, blockquote, pre,
form, fieldset, table, th, td,
map {
  margin: 0;
  padding: 0;
  font-family:微软雅黑,Hiragino Sans GB,Arial,Tahoma,"\5b8b\4f53", Helvetica,sans-serif; 
}
button {
  outline: none;
}
ul,
li {
  list-style: none;
}
a {
  color: #231f20;
  text-decoration: none;
}
a:hover,
a:active,
a:visited {
	text-decoration:underline;
}
img {
  border: none;
}

.header_container {
  height: 70px;
  min-width: 1400px;
  border-bottom:1px solid #231f20;
  margin-bottom:20px;
}
.header_container .header_fixed_wrapper {
  position: fixed;
  background: #f60007;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom:1px solid #231f20;
}
.header_container .header_wrap {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}
.header_container .header_logo {
  vertical-align: middle;
  width: 245px;
  height: 55px;
  float: left;
  margin-top: 7px;
  margin-right: 20px;
}
.header_container .nav_item {
  float: left;
  height: 70px;
  text-align: center;
  
  position: relative;
  display:inline-block;
  cursor:pointer;
}
.header_container .nav_item .nav_name {
  color:#231f20;
  font-size: 28px;
  font-weight: bolder;
  line-height: 70px;
  position: relative;
  display: block;
}
.header_container .nav_item .nav_name_s {
  color:#231f20;
  font-size: 28px;
  font-weight: bolder;
  line-height: 70px;
  position: relative;
  display: block;
}
.header_container .nav_item .nav_name a{
	height:70px;
	display:block;
	padding:0 30px;
}
.header_container .nav_item .nav_name_s a{
	height:70px;
	display:block;
	padding:0 30px;
}

.header_container .nav_item_s .nav_name a{
	height:70px;
	display:block;
	padding:0 20px;
}
.header_container .nav_item .nav_name a:hover{
	text-decoration:none;
	color:#fff;
	}
.header_container .nav_item .nav_name_s a:hover{
	text-decoration:none;
	color:#fff;
	}
.header_container .nav_item .nav_name:after {
  display: none;
  content: "";
  left: 50%;
  margin-left: -12px;
  bottom: 0;
  position: absolute;
  border: 14px solid transparent;
  border-bottom-color: #231f20;
}
.header_container .nav_item .nav_content {
  display: none;
  position: absolute;
  width: 540px;
  height: 350px;
  background: #231f20;
  top: 70px;
  left: 0;
  overflow: hidden;
  color: #fff;
  border: 5px solid #231f20;
  z-index: 99;
}
.header_container .nav_item .nav_content .s_nav_ul {
  width: 120px;
  float: left;
  padding-top: 10px;
}
.header_container .nav_item .nav_content .s_nav_ul li {
  line-height: 42px;
  font-size: 18px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap {
  position: absolute;
  top: 0;
  left: 120px;
  width: 420px;
  height: 350px;
  background: #fff;
  color: #000;
  z-index: 1;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap .brand_wrap{
	width:200px;
	height:80px;
	text-align:center;
	overflow:hidden;
	float:left;
	margin-top:20px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap .brand_wrap a{
	position:absolute;
	display:block;
	padding-left:29px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap .brand_wrap a span{
	display:none;
	cursor:pointer;
	text-align:center;
	overflow:heidden;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap .brand_wrap a:hover span{
	width:160px;
	background:#000;
	margin-bottom:5px;
	margin-left:29px;
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	color:#fff;
	line-height:30px;
	font-size:18px;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap .brand_wrap .brand_photo img{
	width:160px;
	height:80px;
	overflow:hidden;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap .list_wrap_ct{
	width:380px;
	height:120px;
	}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap .list_wrap_ct h4{
	line-height:25px;
	font-weight:600;
	font-size:18px;
	}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap .list_wrap_ct h4 em{
	font-style:normal;
	background:#a40000;
	width:20px;
	height:20px;
	color:#fff;
	font-size:18px;
	margin-right:10px;
	overflow:heidden;
	padding:0 8px 0 8px;
	text-align:center;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap .list_wrap_ct .ct_p{
	font-size:14px;
	line-height:20px;
	display:block;
	width:180px;
	overflow:hidden;
	}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap .list_wrap_ct img{
	float:left;
	width:180px;
	height:120px;
	}
.header_container .nav_item .nav_content .s_nav_ul li .con_item {
  padding: 20px;
  width:380px;
  height:120px;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item .share_wrap {
  width:400px;
  color: #b2b2b2;
  line-height: 36px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item .share_wrap
.header_container .nav_item .nav_content .s_nav_ul li .con_item .share_wrap a {
  margin-left: 6px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item p {
  width:400px;
  height: 70px;
  padding-top: 10px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item img {
  width: 180px;
  height: 120px;
  float: left;
  margin-right: 10px;
}
.header_container .nav_item .nav_content .s_nav_ul li .li_name {
  position: relative;
}
.header_container .nav_item .nav_content .s_nav_ul li .li_name a {
    color:#fff;
	font-weight:600;
}
.header_container .nav_item .nav_content .s_nav_ul li .li_name a:hover{
	color:#f60007;
	text-decoration:none;
}
.header_container .nav_item_s .nav_content .s_nav_ul li .li_name a {
    color:#fff;
	font-weight:600;
}
.header_container .nav_item_s .nav_content .s_nav_ul li .li_name a:hover{
	color:#f60007;
	text-decoration:none;
}
.header_container .nav_item .nav_content .s_nav_ul li .li_name:after {
  display: none;
  content: "";
  right: 0;
  top: 7px;
  position: absolute;
  border: 14px solid transparent;
  border-right-color: #fff;
}
.header_container .nav_item .nav_content .s_nav_ul li:hover .con_wrap {
  z-index: 2;
}
.header_container .nav_item .nav_content .s_nav_ul li:hover .li_name {
  color: #f60007;
}
.header_container .nav_item .nav_content .s_nav_ul li:hover .li_name:after {
  display: block;
}
.header_container .nav_item:hover .nav_name {
  color: #fff;
}
.header_container .nav_item:hover .nav_name:after {
  display: block;
}
.header_container .nav_item:hover .nav_content {
  display: block;
}

.header_container .nav_item_s {
  float: left;
  height: 70px;
  text-align: center;
  position: relative;
}
.header_container .nav_item_s .nav_name {
  color:#231f20;
  font-size: 28px;
  font-weight: bolder;
  line-height: 70px;
  position: relative;
  display: block;
}
.header_container .nav_item_s .nav_name a:hover{
	text-decoration:none;
	color:#fff;
	}
.header_container .nav_item_s .nav_name:after {
  display: none;
  content: "";
  left: 50%;
  margin-left: -12px;
  bottom: 0;
  position: absolute;
  border: 14px solid transparent;
  border-bottom-color: #231f20;
}
.header_container .nav_item_s .nav_content {
  display: none;
  position: absolute;
  width: 540px;
  height: 350px;
  background: #231f20;
  top: 70px;
  left: 15px;
  overflow: hidden;
  color: #fff;
  border: 5px solid #231f20;
  z-index: 99;
}
.header_container .nav_item_s .nav_content .s_nav_ul {
  width: 120px;
  float: left;
  padding-top: 10px;
}
.header_container .nav_item_s .nav_content .s_nav_ul li {
  line-height: 42px;
  font-size: 18px;
}
.header_container .nav_item_s .nav_content .s_nav_ul li .con_wrap {
  position: absolute;
  top: 0;
  left: 120px;
  width: 420px;
  height: 350px;
  background: #fff;
  color: #000;
  z-index: 1;
}
.header_container .nav_item_s .nav_content .s_nav_ul li .con_item {
  margin-bottom:10px;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
}
 .nav_content .s_nav_ul li .con_item .share_wrap {
  width:400px;
  color: #b2b2b2;
  line-height: 36px;
}
 .nav_content .s_nav_ul li .con_item .bdsharebuttonbox{
	margin:-38px 0 0 270px;
}
.header_container .nav_item_s .nav_content .s_nav_ul li .con_item .share_wrap a {
  margin-left: 6px;
}
.header_container .nav_item_s .nav_content .s_nav_ul li .con_item p {
  width:400px;
  height: 70px;
  padding-top: 10px;
}
.header_container .nav_item_s .nav_content .s_nav_ul li .con_item img {
  width: 180px;
  height: 120px;
  float: left;
  margin-right: 10px;
}
.header_container .nav_item_s .nav_content .s_nav_ul li .li_name {
  position: relative;
}
.header_container .nav_item_s .nav_content .s_nav_ul li .li_name:after {
  display: none;
  content: "";
  right: 0;
  top: 7px;
  position: absolute;
  border: 14px solid transparent;
  border-right-color: #fff;
}
.header_container .nav_item_s .nav_content .s_nav_ul li:hover .con_wrap {
  z-index: 2;
}
.header_container .nav_item_s .nav_content .s_nav_ul li:hover .li_name {
  color: #f60007;
}
.header_container .nav_item_s .nav_content .s_nav_ul li:hover .li_name:after {
  display: block;
}
.header_container .nav_item_s:hover .nav_name {
  color: #fff;
}
.header_container .nav_item_s:hover .nav_name:after {
  display: block;
}
.header_container .nav_item_s:hover .nav_content {
  display: block;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item_wd {
  margin-bottom:10px;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  height:120px;
  overflow: hidden;
 
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item_wd  .art_q_txt{
	font-size:14px;
	color:#231f20;
	width:380px;
	height:70px;
	overflow:hidden;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item_wd  .art_q_txt span{
	font-size:16px;
	font-weight:600;
	color:#0d298a;
	
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item_wd .art_q_txt em{
	color:#f60007;
	font-style:normal;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item_wd .art_a{
	margin-top:5px;
	width:380px;
	height:100%;
	overflow:heidden;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item_wd .art_a .art_hp{
	float:left;
	width:50px;
	height:50px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item_wd .art_a .art_hp img{
	width:100%;
	height:100%;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item_wd .art_a .a_r{
	float:right;
	
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item_wd .art_a .art_a_txt{
	font-size:14px;
	color:#231f20;
	width:320px;
	height:100%;
	overflow:heidden;
	float:right;
	background:#e1f6f9;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item_wd .art_a .art_a_txt span{
	font-size:16px;
	font-weight:600;
	color:#0d298a;
}
.h_login{
	float:left;
	line-height:70px;
	font-size:20px;
	color:#fff;
	}
.h_login a{
	color:#fff;
	}

.h_login .login_icon{
	position:absolute;
	width:25px;
	height:22px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin:12px 0 0 5px;
	cursor:pointer;
	background:#231f20 url("http://common.modiauto.com.cn/img/new_icons.png") no-repeat ;
	background-position: -85px -90px;
	}
.header_container .search_wrapper {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 70px;
  float: left;
  position: relative;
  width:335px;
}
.header_container .search_wrapper .search_input {
  width: 100%;
  background: #fff;
  border: none;
  height: 30px;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 18px;
  font-family:微软雅黑,Arial,Tahoma,"\5b8b\4f53", Helvetica,sans-serif; 
  margin-top: 12px;
  text-indent:10px;
}
.header_container .search_wrapper .search_btn {
  background: #ffffff url("http://common.modiauto.com.cn/img/search_icon2.png") no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 15px;
}
.header_container .search_wrapper p {
  font-size: 12px;
  color: #fff;
  width:100%;
  height:24px;
  line-height: 24px;
  overflow:hidden;
}
.header_container .search_wrapper p a {
  color: #231f20;
  padding-left:5px;
}
.header_container .header_brand{
	position: relative;
	float:left;
	background:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	margin-top:5px;
	width:60px;
	height:60px;
	margin-left:35px;
}
.header_container .header_brand h3{
	width:60px;
	height:60px;
	line-height:30px;
	letter-spacing:2px;
	padding-left:1px;
	text-align:center;
	display:block;
	font-size:26px;
}
.header_container .header_brand a{
	color:#f60007;
	text-decoration:none
}
.header_container .header_brand a:hover{
	text-decoration:none;
	color:#231f20;
}
.header_container .header_gjck{
	position: relative;
	float:right;
	background:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	margin-top:5px;
	width:60px;
	height:60px;
	
	cursor:pointer;
}
.header_container .header_gjck h3{
	width:60px;
	height:60px;
	line-height:30px;
	letter-spacing:2px;
	padding-left:1px;
	text-align:center;
	display:block;
	font-size:26px;
}
.header_container .header_gjck a{
	color:#f60007;
	text-decoration:none
}
.header_container .header_gjck a:hover{
	text-decoration:none;
	color:#231f20;
}


.footer_container {
	
  margin-top: 20px;
  min-width: 1400px;
  height: 110px;
}
.footer_container .footer_container {
  background-color: #231f20;
  color: #fff;
  font-size: 14px;
  line-height: 45px;
  height: 45px;
  text-align: center;
  overflow: hidden;
  border-top:1px solid #000;
  
}
.footer_container .footer_container .footer_wrap {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  
}
.footer_container .footer_container .footer_wrap .gotop {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
.footer_container .footer_container .footer_wrap .gotop_icon {
  margin-left: 10px;
}
.footer_container .aboutus_container {
  background: #f60007;
  height: 80px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.footer_container .aboutus_container .aboutus_wrap {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  font-size:14px;
}
.footer_container .aboutus_container .aboutus_wrap .i{
	font-size:18px;
	}
.footer_container .footer_wrap .aboutus_wrap .goto_login {
  float: right;
  margin-right: 20px;
}
.footer_container .footer_wrap .aboutus_wrap .goto_login .login_icon {
  margin-left: 10px;
}
.footer_container .footer_wrapr a {
  color: inherit;
}
.footer_container .footer_wrap .a_link {
  margin: 0 20px;
}
.footer_container a {
  color: inherit;
}
.footer_container .fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.left_f .bdsharebuttonbox{
	margin:-42px 0 0 100px;
}
.share_logo {
  font-size: 0;
  background: url("http://common.modiauto.com.cn/img/new_icons.png") no-repeat;
  padding: 16px 14px;
  vertical-align: middle;
}
.s_weibo {
  font-size: 0;
  background: url("http://common.modiauto.com.cn/img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -50px;
  vertical-align: middle;
}
.s_weibo:hover {
  background-position: -50px -50px;
  cursor:pointer;
}
.s_weixin {
  font-size: 0;
  background: url("http://common.modiauto.com.cn/img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -100px;
  vertical-align: middle;
}
.s_weixin:hover {
  background-position: -50px -100px;
  cursor:pointer;
}
.s_qzone {
  font-size: 0;
  background: url("http://common.modiauto.com.cn/img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -150px;
  vertical-align: middle;
}
.s_qzone:hover {
  background-position: -50px -150px;
  cursor:pointer;
}
.s_douban {
  font-size: 0;
  background: url("http://common.modiauto.com.cn/img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -200px;
  vertical-align: middle;
}
.s_douban:hover {
  background-position: -50px -200px;
  cursor:pointer;
}
.s_renren {
  font-size: 0;
  background: url("http://common.modiauto.com.cn/img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -250px;
  vertical-align: middle;
}
.s_renren:hover {
  background-position: -50px -250px;
  cursor:pointer;
}
.reply_icon {
  font-size: 0;
  background: url("http://common.modiauto.com.cn/img/new_icons.png") no-repeat;
  padding: 8px 9px;
  background-position: -50px 0px;
  vertical-align: middle;
}
.gotop_icon {
  font-size: 0;
  background: url("http://common.modiauto.com.cn/img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: -300px 0;
  vertical-align: middle;
}
.login_icon {
  font-size: 0;
  background: url("http://common.modiauto.com.cn/img/new_icons.png") no-repeat;
  padding: 12px 10px;
  background-position: -200px 0;
  vertical-align: middle;
}
.clear_f {
  clear: both;
  height: 0;
  *zoom: 0;
}
.channel_wrapper {
  height:100px;
  margin:0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1400px;
  position:relative;
}

.channel_wrapper  .channel_tel_gz{
	height:100px;
	width:130px;
	float:left;
	background:url("http://common.modiauto.com.cn/img/gz_tag.png") no-repeat;
	background-position:0 -4px;
	}
.channel_wrapper  .channel_tel_wh{
	height:100px;
	width:130px;
	float:left;
	background:url("http://common.modiauto.com.cn/img/wh_tag.png") no-repeat;
	background-position:0 -4px;
	}
.channel_wrapper  .channel_tel_sc{
	height:100px;
	width:130px;
	float:left;
	background:url("http://common.modiauto.com.cn/img/sc_tag.png") no-repeat;
	background-position:0 -4px;
	}
.channel_wrapper  .channel_tel_hd{
	height:100px;
	width:130px;
	float:left;
	background:url("http://common.modiauto.com.cn/img/hudong_tag.png") no-repeat;
	background-position:0 -4px;
	}
.channel_wrapper  .channel_tel_gzd{
	height:100px;
	width:130px;
	float:left;
	background:url("http://common.modiauto.com.cn/img/gzd_tag.png") no-repeat;
	background-position:0 -4px;
	}
.channel_wrapper .t_nav{
	width:1280px;
	height:70px;
	line-height:70px;
	background:#231f20;
	float:left;
	margin-top:21px;
	margin-left:120px;
	position:absolute;
}
.channel_wrapper .t_nav ul{
}
.channel_wrapper .t_nav ul li{
  float:left;
}
.channel_wrapper .t_nav ul li a{
	padding:0 10px;
	height:70px;
    color:#fff;
    margin-left:30px;
    text-align:center;	
	display:block;
	font-size:26px;
	cursor:pointer;
}
.channel_wrapper .t_nav ul li a:hover{
	text-decoration:none;
	background:#f60007;
}
.channel_wrapper .t_login{
	position:absolute;
	right:50px;
	top:38px;
}
.channel_wrapper .t_login .button{
	border:none;
	line-height:36px;
	padding:0 10px;
	background-color:#f60007;
	font-size:20px;
	border-radius:5px;
	color:#fff;
	cursor:pointer;
	display:block;
	float:left;
	margin-left:20px;
	font-family:微软雅黑,Hiragino Sans GB,Arial,Tahoma,"\5b8b\4f53", Helvetica,sans-serif; 
}
.channel_wrapper .t_login .button:hover{
	text-decoration:none;
}
.bread_crumb_wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1400px;
}
.bread_crumb_wrapper .bread_crumb_wrap {
  font-size: 16px;
  line-height: 40px;
  border-left: 15px solid #f60007;
  background: #f2f3f7;
  padding-left: 15px;
}

.bread_crumb_wrapper .login_wrap{
	float:right;
	margin-top:-32px;
	margin-right:30px;
}
.bread_crumb_wrapper .login_wrap a{
	background:#f60007;
	border-radius:5px;
	padding:3px 8px;
	font-size:18px;
	color:#fff;
}
.bread_crumb_wrapper .filtrate_wrap{
	float:right;
	margin-top:-32px;
	margin-right:30px;
}
.bread_crumb_wrapper .filtrate_wrap a{
	background:#f60007;
	border-radius:5px;
	padding:3px 10px;
	font-size:18px;
	color:#fff;
	margin-right:10px;
}
.bread_crumb_wrapper .filtrate_wrap em{
	font-style:normal;
	color:#f60007;
}
.ad{
	max-width:1400px;
	height:120px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
    margin-bottom: 30px;
	}
  .ad_h240{
    position:relative;
  max-width:1400px;
  height:240px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 30px;
    margin-bottom: 30px;
    border:1px solid #f60007;
  }
 
.ad_h240 img{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
.ad .ad1400_wrapper {
  width: 1400px;
  height: 120px;
  float:left;
  border:1px solid #f60007;
  position:relative;
}
.ad .ad1400_wrapper img{
	display: block;
  width: 100%;
  height: 100%;
  border: none;
}
.ad .ad1200_wrapper img{
	display: block;
  width: 100%;
  height: 100%;
  border: none;
}
.ad .ad1200_wrapper {
  width: 1200px;
  height: 120px;
  float:left;
  border:1px solid #f60007;
  position:relative;
}
.ad .ad335_wrapper {
  width: 334px;
  height: 120px;
  float:left;
  border:1px solid #f60007;
  position:relative;
}
.ad .ad335_wrapper img{
	width:100%;
	height:100%;
}
.ad .ad450_wrapper {
  width: 450px;
  height: 120px;
  float:left;
  border:1px solid #f60007;
}
.ad .ad450_wrapper img{
	width:100%;
	height:100%;
}
.ad .ad690_wrapper{
	width: 690px;
    height: 120px;
    float:left;
    border:1px solid #f60007;
	position:relative;
}
.ad .ad690_wrapper img{
	width: 100%;
    height: 100%;
}
.ad .width30{
	width:17px;
	height:120px;
	display:block;
	float:left;
	}
.ad .width25{
	width:20px;
	height:120px;
	display:block;
	float:left;
	}
.ad_wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
.ad970{
	width:970px;
	height:120px;
	margin:0 auto;
	margin:20px 0 20px 0;
	position:relative;
}
.ad970 img{
	width:100%;
	height:100%;
}
.ad940_wrapper {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  height: 120px;
  border:1px solid #f60007;
  position:relative;
}
.ad940_wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
.ad400_wrapper {
  width: 398px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  border:1px solid #f60007;
  position:relative;
}
.ad400_wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}
.ad260_wrapper {
  width: 400px;
  height: 260px;
  border:1px solid #f60007;
  margin-bottom:20px;
  margin-top:10px;
  position:relative;
}
.ad260_wrapper img{
	width:100%;
	height:100%;
	display:block;
}
.remodel_wrap .ad .ad970_wrapper,
.ad470_wrapper{
	position: relative;
	border: 1px solid #f60007;
}
.remodel_wrap .ad img{
	border:none;
}
.ad260_wrapper .ad_tip,
.ad .ad335_wrapper .ad_tip,
.ad400_wrapper .ad_tip,
.ad470_wrapper .ad_tip,
.ad690_wrapper .ad_tip,
.ad940_wrapper .ad_tip,
.ad970_wrapper .ad_tip,
.ad1400_wrapper .ad_tip,
.ad1200_wrapper .ad_tip,
.ad_h240 .ad_tip{
	position:absolute;
	left:0;
	bottom:0;
	width:32px;
	height:17px;
}
.ad260_wrapper .ad_tip img,
.ad .ad335_wrapper .ad_tip img,
.ad400_wrapper .ad_tip img,
.ad690_wrapper .ad_tip img,
.ad940_wrapper .ad_tip img,
.ad1400_wrapper .ad_tip img,
.ad1200_wrapper .ad_tip img,
.ad_h240 .ad_tip img{
	width:100%;
	height:100%;
}
.ad260_wrapper .pb_tip,
.ad .ad335_wrapper .pb_tip,
.ad400_wrapper .pb_tip,
.ad470_wrapper .pb_tip,
.ad690_wrapper .pb_tip,
.ad940_wrapper .pb_tip,
.ad970_wrapper .pb_tip,
.ad1400_wrapper .pb_tip{
	position:absolute;
	left:0;
	bottom:0;
	width:32px;
	height:17px;
}
.ad260_wrapper .pb_tip img,
.ad .ad335_wrapper .pb_tip img,
.ad400_wrapper .pb_tip img,
.ad690_wrapper .pb_tip img,
.ad940_wrapper .pb_tip img,
.ad1400_wrapper .pb_tip img{
	width:100%;
	height:100%;
}
.ad260_wrapper .sf_tip,
.ad .ad335_wrapper .sf_tip,
.ad400_wrapper .sf_tip,
.ad470_wrapper .sf_tip,
.ad690_wrapper .sf_tip,
.ad940_wrapper .sf_tip,
.ad970_wrapper .sf_tip,
.ad1400_wrapper .sf_tip{
	position:absolute;
	left:0;
	bottom:0;
	width:32px;
	height:17px;
}
.ad260_wrapper .sf_tip img,
.ad .ad335_wrapper .sf_tip img,
.ad400_wrapper .sf_tip img,
.ad690_wrapper .sf_tip img,
.ad940_wrapper .sf_tip img,
.ad1400_wrapper .sf_tip img{
	width:100%;
	height:100%;
}
.leftbox .sf_tip, .rightbox .sf_tip{
	position:absolute;
	bottom:17px;
}

.import_intro_wrap {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  background: #231f20;
  overflow: hidden;
}
.import_intro_wrap h3 {
  line-height: 60px;
  font-size: 28px;
  text-indent: 20px;
}
.import_intro_wrap .import_intro_list {
  font-size: 0;
}
.import_intro_wrap .import_intro_list .import_intro_item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 330px;
  text-align: center;
  float:left;
  margin: 0 10px;
}
.import_intro_wrap .import_intro_list .import_intro_item img {
  width: 100%;
  height: 220px;
  display: block;
}
.import_intro_wrap .import_intro_list .import_intro_item p {
  line-height: 35px;
  font-size: 20px;
  padding: 0 10px;
  margin-top: 10px;
  color: #fff;
  margin-bottom:10px;
}
.import_intro_wrap .import_intro_list .import_intro_item a {
  color: #fff;
}
.report_wraper{
	width:1400px;
	height:160px;
	margin-left:auto;
	margin-right:auto;
	background-color:#f2f3f7;
}
.report_wraper .prport_tle{
	width:380px;
	height:160px;
	background-color:#f2f3f7;
	float:left;
	display:block;
	padding:5px;
}
.report_wraper .prport_tle .pr_sign .pr_lg{
	width:100%;
	height:100%;
	display:block;
}
.report_wraper .focus{
	width:1005px;
	height:160px;
	float:right;
	display:block;
	background-color:#f2f3f7;
	padding:5px 5px 5px 0;
}
.report_wraper .focus .focus_text{
	width:540px;
	height:160px;
	float:left;
	background-color:#fff;
}
.report_wraper .focus .focus_text .red_tle_wrap{
	height:50px;
	line-height:50px;
	text-align:center;
}
.report_wraper .focus .focus_text .red_tle_wrap h2{
	font-weight:normal;
}
.report_wraper .focus .focus_text .red_tle_wrap .tle_link{
	color:#f60007;
}
.report_wraper .focus .focus_text .red_tle_wrap .tle_link:hover{
	text-decoration:none;
}
.report_wraper .focus .focus_text .text_list{
	width:480px;
	height:110px;
	padding:0 30px;
	
}
.report_wraper .focus .focus_text .lt_ul{
	width:220px;
	float:left;
	margin-left:15px;
}
.report_wraper .focus .focus_text .rt_ul{
	width:220px;
	float:right;
	margin-left:15px;
}
.report_wraper .focus .focus_text .text_list li{
	width:220px;
	height:35px;
	line-height:35px;
	float:left;
	overflow:hidden;
}
.report_wraper .focus .focus_img{
	width:465px;
	float:right;
	background-color:#fff;
}
.report_wraper .focus .focus_img .con_wrap{
	width:230px;
	height:155px;
	text-align:center;
	float:left;
	margin-top:5px;
}
.report_wraper .focus .focus_img .con_wrap .m_pic{
	width:180px;
	height:120px;
}
.report_wraper .focus .focus_img .con_wrap p{
	width:210px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	text-align:center;
	display:block;
	padding:0 10px;
}
.iframe{
	width:1400px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
}
.iframe_wrap{
	width:1400px;
	height:170px;
	
}
.more_btn{
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  font-weight: bolder;
  line-height: 45px;
  background: #dadada;
  color:#676767;
}
.more_btn a{
  color:#676767;
  display:block;
}
.more_btn:hover{
	background:#231f20;
	color:#fff;
}
.more_btn a:hover{
	color:#fff;
	text-decoration:none;
}
.header_wrap .head_pic{
	width:180px;
	height:120px;
	display:block;
	float:left;
	margin-right:10px;   
}
.header_wrap .head_pic{
	width:180px;
	height:120px;
	display:block;
	float:left;
	margin-right:10px;   
}

@media screen and  (max-width:1439px){
    .header_container .header_wrap{
		width:1200px;
	}
	.header_container .nav_item,
	.header_container .nav_item_s{
		
	}
	.header_container .nav_item .nav_name a{
	    padding:0 15px;
	}
	.header_container .nav_item .nav_name_s a{
		padding:0 15px;
	}

	.header_container .nav_item_s .nav_name a{
		padding:0 15px;
	}
	.header_container .nav_item .nav_name,
	.header_container .nav_item .nav_name_s,
	.header_container .nav_item_s .nav_name{
		font-size:22px;
	}
	.header_container .nav_item .nav_content .s_nav_ul li,
	.header_container .nav_item_s .nav_content .s_nav_ul li{
		font-size:16px;
	}
	.h_login{
		font-size:16px;
	}
	.header_container .nav_item .nav_content{
		left:-24px;
	}
	.header_container .nav_item_s .nav_content{
		left:0px;
	}
	.header_container .search_wrapper{
		width:340px;
	}
	.footer_container  .footer_wrap{
		width:1200px;
	}
	.footer_container .aboutus_wrap{
		width:1200px;
	}
	.footer_container .footer_container .footer_wrap .gotop{
		margin-right:50px;
	}
	.ad{
		width:1200px;
		height:102px;
	}
	.ad .ad1400_wrapper{
		width:1200px;
		height:103px;
	}
	.ad .ad335_wrapper{
		width:285px;
		height:102px;
	}
	.ad .ad690_wrapper{
		width:587px;
		height:102px;
	}
	.ad400_wrapper{
		width:340px;
		height:103px;
	}
	.ad260_wrapper{
		width:340px;
		height:221px;
	}
	.ad .ad450_wrapper {
	  width: 384px;
	  height: 102px;
	}
	.ad940_wrapper{
		width:740px;
		height: 102px;
		margin-left:50px;
	}
  .ad_h240{
  width:1200px;
  height:206px;
  }

	.import_intro_wrap{
		width:1200px;
	}
	.import_intro_wrap h3{
		font-size:24px;
	}
	.import_intro_wrap .import_intro_list .import_intro_item{
		width:280px;
	}
	.import_intro_wrap .import_intro_list .import_intro_item img{
		width:100%;
		height:187px;
	}
	.import_intro_wrap .import_intro_list .import_intro_item p{
		font-size:18px;
	}
	.left_f .bdsharebuttonbox{
	    margin:-42px 0 0 90px;
    }
	.channel_wrapper{
		width:1200px;
	}
	.channel_wrapper .t_nav{
		width:1080px;
		
	}
	.channel_wrapper .t_nav ul li a{
		margin-left:20px;
		font-size:22px;
	}
	.channel_wrapper .t_login .button{
		font-size:18px;
	}
	.bread_crumb_wrapper{
		width:1200px;
	}
	.list_tab_wrap{
		width:1200px;
	}
	.list_tab_wrap .con_wrap .con_item_list .con_item{
		width:280px;
	}
	.list_tab_wrap .con_wrap .con_item_list .con_item img{
		height:187px;
	}
	.list_tab_wrap .con_wrap .con_item_list .con_item .share_wrap a{
		margin-left:0px;
	}
	.list_tab_wrap .brand_wrap,
	.list_tab_wrap .brand_wrap .brand_list{
		width:1200px;
	}
	.list_tab_wrap .brand_wrap .brand_list{
		margin-left:80px;
	}
	.list_tab_wrap .brand_wrap .brand_list .photo{
		width:200px;
	}
	.list_tab_wrap .brand_wrap .brand_list .photo a:hover span{
		width:160px;
		font-size:14px;
		line-height:25px;
	}
	.list_tab_wrap .brand_wrap .brand_list .brand_photo img{
		width:160px;
		height:80px;
	}
	.iframe{
		width:1200px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:30px;
	}
	.iframe_wrap{
		width:1200px;
		height:170px;
	
	}
	.report_wraper .focus .focus_img{
		width:265px;
		float:left;
		background-color:#fff;
	}
	.report_wraper .focus .focus_img .con_wrap:nth-child(2){
		display:none;
	}
}

@media screen and (min-width:1400px){
	.report_wraper .focus .focus_img{
		width:465px;
		float:right;
		background-color:#fff;
	}
	.report_wraper .focus .focus_img .con_wrap:nth-child(2){
		display:block;
	}
}
