#doPoint tr td {
	padding-right:5px;padding-left:5px;padding-bottom:3px;padding-top:3px
}
#doPoint tr td img {
	margin-top:5px
}
#doPoint tr td strong {
	font-size:14px;color:#f00
}
#doPoint span {
	display:block;background:url(star_small.gif) no-repeat 2px 0px;width:130px;height:20px
}
#doPoint span small {
	font-size:0px;float:left;overflow:hidden;width:24px;cursor:pointer;padding-top:20px;height:0px;
}
#doPoint tr{
	float: left;
	margin-bottom: 20px;
	width: 33%;
}
#doPoint tr em{
	font-style: normal;
	color: #666;
}
#doPoint .star10 {
	background:url(../img/star_small.gif) no-repeat 2px 0px
}
#doPoint .star9 {
	background:url(../img/star_small.gif) no-repeat 2px -20px
}
#doPoint .star8 {
	background:url(../img/star_small.gif) no-repeat 2px -40px
}
#doPoint .star7 {
	background:url(../img/star_small.gif) no-repeat 2px -60px
}
#doPoint .star6 {
	background:url(../img/star_small.gif) no-repeat 2px -80px
}
#doPoint .star5 {
	background:url(../img/star_small.gif) no-repeat 2px 0px
}
#doPoint .star4 {
	background:url(../img/star_small.gif) no-repeat 2px -40px
}
#doPoint .star3 {
	background:url(../img/star_small.gif) no-repeat 2px -80px
}
#doPoint .star2 {
	background:url(../img/star_small.gif) no-repeat 2px -120px
}
#doPoint .star1 {
	background:url(../img/star_small.gif) no-repeat 2px -160px
}

